.partenairs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.partenairs__title {
    color: #022179;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.partenairs__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6% auto;
    width: 100%;
    height: 150px;
}
.slide-btn {
  background-color: transparent;
  width: 50PX;
  position: relative;
  height: 50PX;
  border-radius: 50%;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  border: none;
}
.slide-btn img {
  position: absolute;
  width: 40px !important;
  height: 40PX !important;
}
.partenairs__img {
    width: 600px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}

.partenairs__content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 7PX;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A42593; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A42593; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #022179; 
  }


  @media screen and (max-width: 768px) {
    .partenairs__content img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin: 0 10px;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.5s;
      margin-right: 20px;
  }

  .slide-btn {
    background-color: transparent;
    width: 20PX;
    position: relative;
    height: 20PX;
    border-radius: 50%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;
  }

  .partenairs__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 75%;
    height: 150px;
}


}

